:root {
    --primary-bg-color: #102457;
    --menu-text-color: #c6d3f5;
    --secondary-bg-color: #eb5757;
    --secondary-text-color: #ffffff;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}
.header {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}
.header__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.header__link {
    color: var(--menu-text-color);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    padding: 20px 0;
}

.header__item {
    margin: 15px 0;
    width: 138px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
}
.header__item:hover a,
.header__item:focus a,
.footer-list a:hover,
.footer-list a:focus,
.partners__title:hover,
.partners__title:focus,
.news__title:hover,
.news__title:focus {
    color: var(--secondary-bg-color);
}
.header__item::before {
    width: 2px;
    height: 46px;
    content: "";
    display: block;
    background-image: url(../img/verticalline.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: -10px;
}
.header__item:not(:last-child) {
    margin-right: 50px;
}
.header-banner {
    display: block;
    margin: 0 auto;
}

.header-main-banner {
    background-color: var(--primary-bg-color);
}
.header-main-banner {
    color: var(--menu-text-color);
    font-weight: 300;
}
.banner-title {
    display: block;
    max-width: 283px;
    padding: 0px 0px 8px 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-left: 64px;
    font-weight: 300;
    font-size: 24px;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
}
.banner {
    background-image: url(../img/bannerbg1.png);
    background-repeat: no-repeat;
    height: 560px;
    position: relative;
}
.banner-logo {
    position: absolute;
    display: inline-block;
    top: 235px;
    left: 140px;
}

.banner-text {
    font-size: 18px;
    padding-left: 630px;
    font-weight: 300;
    margin-top: 102px;
}

.banner-text li:not(:first-child) {
    list-style: square;
    margin-top: 20px;
    padding-left: 40px;
    margin-left: 20px;
}

.more-button {
    display: block;
    width: 254px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 3px;
    color: var(--secondary-text-color);
    padding: 10px 42px;
    font-weight: 300;
    text-align: center;
}

.banner .more-button {
    margin-left: 630px;
    margin-top: 59px;
}

.experts__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.experts__item {
    margin-top: 100px;
    width: 200px;
    text-align: center;
    color: #828282;
    padding-left: 40px;
    padding-right: 40px;
}
.experts__item a {
    color: #828282;
}

.experts__item:not(:last-child) {
    margin-right: 135px;
}
.experts__block img {
    width: 120px;
    height: 120px;
}
.experts__link-more {
    color: #828282;
    border: 1px solid #828282;
    border-radius: 3px;
    margin: 60px auto 0;
}
.news {
    margin-top: 60px;
}
.news__main-title {
    background-color: #102457;
}
.news__list {
    display: flex;
    justify-content: space-between;
    padding-left: 65px;
    padding-right: 65px;
}
.news__item {
    width: 264px;
}
.news__title {
    color: #828282;
    text-size: 16px;
}
.news__text {
    font-size: 14px;
    color: #828282;
}
.news__date {
    color: #bdbdbd;
    font-size: 12px;
}
.news__more-news-link {
    color: #eb5757;
    border: 1px solid #eb5757;
    border-radius: 3px;
    margin: 60px auto 50px;
}
.experts-center {
    position: relative;
    height: 168px;
}
.experts-center__link {
    width: 500px;
    font-size: 36px;
    font-weight: 300;
    color: var(--secondary-text-color);
    position: absolute;
    top: 41px;
    left: 736px;
}
.partners {
    background-color: #102457;
    padding-bottom: 70px;
}
.partners__list {
    display: flex;
    justify-content: space-between;
    padding-left: 65px;
    padding-right: 65px;
}
.partners__block {
    width: 264px;
}
.partners__title {
    color: #cdd7f1;
    text-size: 16px;
}
.partners__text {
    font-size: 14px;
    color: #cdd7f1;
}
.partners__date {
    color: #5e6d91;
    font-size: 12px;
}
.partners__more-news-link {
    margin: 60px auto 0;
}
.foto {
    width: 1280px;
    height: 720px;
}
.calendar-banner {
    position: relative;
    height: 168px;
}
.calendar-banner span {
    width: 500px;
    font-size: 36px;
    font-weight: 300;
    color: var(--secondary-text-color);
    position: absolute;
    top: 50px;
    left: 736px;
}
.calendar-banner a {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    top: 120px;
    left: 1075px;
    text-decoration: underline;
}
.footer {
    height: 235px;
    background-color: #102457;
}
.center {
    display: flex;
    justify-content: space-around;
}
.footer-links {
    display: flex;
}
.footer-list {
    padding: 20px 92px 30px 70px;
    display: flex;
    flex-direction: column;
}
.footer-list li {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
}
.footer-list a {
    color: var(--secondary-text-color);
}
.social-links {
    padding-top: 20px;
    display: flex;
}
.social-links li:not(:last-child) {
    margin-right: 30px;
}
.footer-icons > a {
    display: inline-block;
    margin-left: 40px;
    margin-top: 23px;
}

.footer-icons > span {
    display: block;
    margin-left: 40px;
    margin-top: 23px;
    color: var(--secondary-text-color);
    font-size: 13px;
    font-weight: 300;
}
/* --------JS-------- */
.slick-track {
    display: flex;
}